{% extends 'main/base.html' %} {%load static%}
<!---->
{% block content %}
<div id="id_carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#id_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#id_carousel" data-slide-to="1"></li>
        <li data-target="#id_carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ carossel.frst_image.url }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="animate__animated animate__fadeInDown" style="animation-delay: 1.5s"></h5>
                <p class="animate__animated animate__fadeInDown" style="animation-delay: 1s;">{{ carossel.descrpt_1}}</p>
                <a class="btn btn-dark animate__animated animate__fadeInDown" style="animation-delay: 0.5s;" href="#">Savoir plus</a>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ carossel.scd_image.url }}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="animate__animated animate__fadeInDown" style="animation-delay: 1.5s">{{ carossel.title_2}}</h5>
                <p class="animate__animated animate__fadeInDown" style="animation-delay: 1s;">{{ carossel.descrpt_2}}</p>
                <a class="btn btn-dark animate__animated animate__fadeInDown" style="animation-delay: 0.5s;" href="#">Savoir plus</a>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ carossel.trd_image.url}}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="animate__animated animate__fadeInDown" style="animation-delay: 1.5s">{{ carossel.title_3}}</h5>
                <p class="animate__animated animate__fadeInDown" style="animation-delay: 1s;">{{ carossel.descrpt_3}}</p>
                <a class="btn btn-dark animate__animated animate__fadeInDown" style="animation-delay: 0.5s;" href="#">Savoir plus</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#id_carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#id_carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!---->
{% if full_name%}
<div class="container text-center" style="margin-top: 80px;">
    <section>
        <h2 style="font-size: 70px;font-weight: bolder;">Merci {{full_name }} !!</h2>
        <p style="font-size: 30px;font-family: 'Courier New', Courier, monospace;">
            votre message a été envoyé avec succès !!!!</p>
        <br>
    </section>

</div>
{% endif %}

<div class="container contact-presentation">

    <div class="row">
        <div class=" col-12 col-md-6 col-lg-6">
            <div class="about-widget-heading ">
                <h2>Parlons de votre projet</h2>
            </div>
            <p>
                Nos experts (bien lunés) sont à votre écoute pour échanger autour de votre projet et répondre à toutes vos questions.
            </p>
            <a class=" " href="#contactez-nous" class="container">
                <button class="btn aboutButton ">
                    <span>contactez-nous</span>
                </button>
            </a>

        </div>
        <div class=" col-12 col-md-6 col-lg-6">
            <div class="img_contact">
                <i class="fas fa-phone" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>

<div id="contactez-nous" class=" offset container contact_principale ">
    <div class="post-heading text-center">
        <h3 class="display-4 font-weight-bold" style="color:#18223d;"> 3 façons de
            <span class="display-4 font-weight-bold" style="color:#f3ad3b !important"> nous contacter</span>
        </h3>
        <hr class="w-50 mx-auto pb-5 ">
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="contact_element mx-auto">
                <div class="img-valor">
                    <i class="fas fa-phone" aria-hidden="true"></i>
                </div>
                <div class="content-text-valor ">
                    <h2 class="text-center">
                        Telephone
                    </h2>
                    <a href="tel:+237-655-216-119">
                        <div class="presentationBtn">
                            <button class="btn aboutButton">
                         <span>Appelez</span>
                        </button>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-4 ">
            <div class="contact_element  mx-auto">
                <div class="img-valor">
                    <i class="fab fa-whatsapp " aria-hidden="true"></i>
                </div>
                <div class="content-text-valor">
                    <h2 class="text-center">
                        Whatsapp
                    </h2>
                    <div class="presentationBtn">
                        <button class="btn aboutButton">
                            <span>Appelez</span>
                         </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4  ">
            <div class="contact_element mx-auto">
                <div class="img-valor">
                    <i class="fas fa-envelope-open-text" aria-hidden="true"></i>
                </div>
                <div class="content-text-valor">
                    <h2 class="text-center">
                        Envoyer un Email
                    </h2>
                    <div class="presentationBtn">
                        <button class="btn aboutButton" data-toggle="modal" data-target="#form_email">
                             <span>Ecrivez-nous</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="form_email" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="about-widget-heading modal-title" id="exampleModalLabel">
                        <h2>Envoyer un message</h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'contact' %}">
                        <div class="form-group">
                            {% csrf_token %} {{message_form.as_p }}

                        </div>


                        <div class="presentationBtn">
                            <button type="submit" class="btn aboutButton">
                                <span>Envoyez</span>
                             </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>




{% endblock content %}